<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pets Friends</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <script src="https.//code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="Estilos.css" type="text/css" rel="stylesheet">
  <link href="Img/Icon.png" rel="icon">
  <link href="Img/Icon.png" rel="apple-touch-icon">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <!--contactos-->
    <div class="row">
      <div class="col">
        <section id="contactanos" class="d-flex align-items-center">
          <div id="contacto">
            <div class="container d-flex justify-content-center justify-content-md-between">
              <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center" >&nbsp;<a href="mailto:pets.friends@jujuju.cl" >pets.friends@jujuju.cl</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+56 955566677</span>&nbsp;</i>
              </div> 
            </div>      
          </div>      
        <div class="social-links d-none d-md-flex align-items-center" id="redes">
          <span class="pull-right"> 
              <a  href="https://twitter.com" class="twitter">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-twitter" ></i></a>
          </span>
          <span class="pull-right">
              <a  href="https://facebook.com" class="facebook">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-facebook" ></i></a>
          </span>
          <span class="pull-right">
              <a  href="https://instagram.com" class="instagram">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-instagram" ></i></a>
          </span>
          <span class="pull-right">
              <a href="https://linkedin.com" class="linkedin">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-linkedin" ></i></a>
          </span>
        </div>     
        </section> 
      </div>
    </div>
    <!--fin contactos-->

    <!--logo-->
    <div class="row"> 
      <div class="col">
        <a href="PetsFriends.html">
          <img src="{% static 'Img/Logo.jpg' %}" alt="Logo" height="auto" width="auto">
        </a>
        <div id="login">
          <a href="signIn.html">
            <i class="bi bi-person-circle"> Iniciar sesión &nbsp; &nbsp;</i>
          </a>
          <a href="signUp.html">
            <i class="bi bi-person-plus-fill"> Registrarse &nbsp; &nbsp;</i>
          </a>
          <a href="compras.html">
            <i class="bi bi-cart4"></i>
          </a>
        </div>
      </div>
    </div> 
    <!--fin logo-->

    <!--Menu-->
    <div clas="row">
      <div clas="col"  style="background-color: greenyellow;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="PetsFriends.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="donacion.html">Donación</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="perros.html">Perros</a></li>
                    <li><a class="dropdown-item" href="gatos.html">Gatos</a></li>
                    
                    <li><a class="dropdown-item" href="otros.html">Otros</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="" aria-label="">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <!--fin menu-->

    <!--productos-->
    
    <div class="row bloque-curvo gris" style="">
        <div class="col-lg-12">
            <nav class="nav-filtros botones">
                <ul>
                    <li><a href="Perros.html" title="perros" class="boton-pastilla pastilla-perros activo"><i class="icon-icono_accesorios"></i><span>Perros</span></a></li>
                    <li><a href="gatos.html" title="gatos" class="boton-pastilla pastilla-perros "><i class="icon-icono_farmacia"></i><span>Gatos</span></a></li>
                    <li><a href="otros.html" title="otros" class="boton-pastilla pastilla-perros "><i class="icon-icono_juguetes"></i><span>Otros</span></a></li>

                </ul>
            </nav>
        </div>
    </div>
    <!--Inicio Categorias-->
    <div class="row">
        <form id="form-filtro" class="form-filtro" method="post" action="Perros.html">
                    <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="bloque-curvo blanco">
                                    <div class="col-sm-6 col-md-12 col-lg-12 bloque-filtro ">
                    <h4 id="h4-filter-marcas">CATEGORIAS<input type="checkbox" id="bloque_1">&nbsp;<label id="label_bloque_1" for="bloque_1" class="fa fa-minus-circle"></label></h4>
                    <ul style="display: block;">
                                                                                    <li>
                            <input type="checkbox" id="filtro-nunbell" name="filtro-marca[]" value="nunbell" data-tipo="marca">
                            <label for="filtro-nunbell"><i class="fa fa-check"></i></label>
                            <label for="filtro-nunbell" class="no-filter-label"><span> Nunbell</span></label>
                        </li>
                                                                                    <li>
                            <input type="checkbox" id="filtro-avenue" name="filtro-marca[]" value="avenue" data-tipo="marca">
                            <label for="filtro-avenue"><i class="fa fa-check"></i></label>
                            <label for="filtro-avenue" class="no-filter-label"><span>Avenue</span></label>
                        </li>
                                                                                    <li>
                            <input type="checkbox" id="filtro-cata-pet" name="filtro-marca[]" value="cata-pet" data-tipo="marca">
                            <label for="filtro-cata-pet"><i class="fa fa-check"></i></label>
                            <label for="filtro-cata-pet" class="no-filter-label"><span>Cata Pet</span></label>
                        </li>
                                                                                    <li>
                            <input type="checkbox" id="filtro-cueros" name="filtro-marca[]" value="cueros" data-tipo="marca">
                            <label for="filtro-cueros"><i class="fa fa-check"></i></label>
                            <label for="filtro-cueros" class="no-filter-label"><span>Cueros</span></label>
                        </li>
                            </ul>
                </div>
            </div>
        </div>
        
        </form>
        <!--Fin categorias-->
        
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="bloque-curvo blanco">

                <nav class="breadcrum hidden-xs hidden-sm "><a href="https://www.superzoo.cl/"><i class="fa fa-home"></i></a><i class="fa fa-angle-double-right"></i><a href="https://www.superzoo.cl/catalogo">Catalogo</a><i class="fa fa-angle-double-right"></i><a href="https://www.superzoo.cl/catalogo/perro">Perro</a><i class="fa fa-angle-double-right"></i><a href="javascript:;" disabled="">Accesorios</a><h1 class="hide">Accesorios</h1></nav>                   
                <header class="header-filtro col-lg-12">

                    <div class="col-sm-8 col-md-8 col-lg-8 budgets">
                                                    
                                                    <ul data-tipo="subcategorias" class="budget-filtros budget-filtros-categorias">
                                                                                            </ul>
                        
                        
                        
                    </div>

                </header>

                
                <div id="login" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fondo-gris padding-top-1">
                    <section class="row lista-productos ">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-6 col-md-6 col-lg-4 item-lista">
                                <div class="block-producto">
                                    <a id="a_link_1916" href="otros.html" data-prod_id="1916" data-prod_name="Ruffwear Knot A Collar Red" class="catalogo_click_detail">
                                        <div class="item">                                        
                                            
                                            
                                            <figure><img src="{% static 'Img/bebedero.jpg' %}" class="img-responsive"></figure>
                                            
                                            <div class="datos-producto">
                                                <header>
                                                    <h5>Bebedero para hamster</h5><small>Bebedero para poner dentro de las jaulas</small>
                                                    
                                <div class="t_datos mCustomScrollbar _mCS_1 mCS_no_scrollbar"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                    <table class="datos">
                                    <tbody>
                                
                                    <tr>
                                        <td>
                                            Talla L
                                            
                                        </td>
                                        <td>$ 20.990</td>
                                    </tr>
                                    
                                    </tbody>
                                    </table>
                                </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                                
                                                </header>
                                            </div>
                                        </div>
                                    </a>
                                    
                                    <footer>
                                        <nav><a href="https://www.superzoo.cl/modals/solicitar/1916/ruffwear-ruffwear-knot-a-collar-red" class="hvr-shadow-radial modal boton-solicitar">Comprar</a></nav>
                                    </footer>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-6 col-lg-4 item-lista">
                                <div class="block-producto">
                                    <a id="a_link_1966" href="https://www.superzoo.cl/catalogo/producto/1966/catit-kit-de-limpieza-fuentes-bebederas-y-flower" data-prod_id="1966" data-prod_name="Kit De Limpieza Fuentes Bebederas Y Flower" class="catalogo_click_detail">
                                        <div class="item">
                                            
                                            
                                            
                                            <figure><img src="https://spzcdn02.akamaized.net/assets/uploads/productos/ab1f8-catit-set-de-limpieza-para-fuente-de-agua.jpg" class="img-responsive"></figure>
                                            
                                            <div class="datos-producto">
                                                <header>
                                                    <h5>Kit De Limpieza Fuentes Bebederas Y Flower</h5><small>Kit de Limpieza Fuente Catit</small>
                                                    
                                <div class="t_datos mCustomScrollbar _mCS_2 mCS_no_scrollbar"><div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                    <table class="datos">
                                    <tbody>
                                
                                    <tr>
                                        <td>
                                            1 Kit
                                            
                                        </td>
                                        <td>$ 7.990</td>
                                    </tr>
                                    
                                    </tbody>
                                    </table>
                                </div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                                
                                                </header>
                                            </div>
                                        </div>
                                    </a>
                                   
                                    <footer>
                                        <nav><a href="https://www.superzoo.cl/modals/solicitar/1966/catit-kit-de-limpieza-fuentes-bebederas-y-flower" class="hvr-shadow-radial modal boton-solicitar">Comprar</a></nav>
                                    </footer>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-6 col-lg-4 item-lista">
                                <div class="block-producto">
                                    <a id="a_link_5977" href="https://www.superzoo.cl/catalogo/producto/5977/lickimat-lickimat-plato-interactivo-splash" data-prod_id="5977" data-prod_name="Lickimat Plato Interactivo Splash" class="catalogo_click_detail">
                                        <div class="item">
                                            
                                            <div class="dexpress"></div>
                                            
                                            <figure><img src="https://spzcdn01.akamaized.net/assets/uploads/productos/1344b-9349785000548-lm5101gn-r-lickimat-splash-green-1-.jpg" class="img-responsive"></figure>
                                            
                                            <div class="datos-producto">
                                                <header>
                                                    <h5>Lickimat Plato Interactivo Splash</h5><small>Alimentador que se adhiere a superficies lisas de paredes y bañeras</small>
                                                    
                                <div class="t_datos mCustomScrollbar _mCS_3 mCS_no_scrollbar"><div id="mCSB_3" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                    <table class="datos">
                                    <tbody>
                                
                                    <tr>
                                        <td>
                                            VERDE
                                            
                                        </td>
                                        <td>$ 17.990</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            TURQUESA
                                            
                                        </td>
                                        <td>$ 17.990</td>
                                    </tr>
                                    
                                    </tbody>
                                    </table>
                                </div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                                
                                                </header>
                                            </div>
                                        </div>
                                    </a>
                                    
                                    <footer>
                                        <nav><a href="https://www.superzoo.cl/modals/solicitar/5977/lickimat-lickimat-plato-interactivo-splash" class="hvr-shadow-radial modal boton-solicitar">Comprar</a></nav>
                                    </footer>
                                </div>
                            </div>
                                    
                                    
                                    
                    </section>
                </div>
                
            </div>
        </div>
    </div>

  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- Menu Inferior-->
<footer id="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">

        <div class="col-4">
          <div class="footer-info">
            <h3>Pets Friends</h3>
            <p>
              AV Siempre Viva 742 <br>
              Springfield, USA<br><br>
              <strong>Numero:</strong> +56 955566677<br>
              <strong>Correo:</strong> pets.friends@jujuju.cl<br>
            </p>               
          </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-2 footer-links">
          <h4>General</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="PetsFriends.html">Inicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="nosotros.html">Nosotros</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="donacion.html">Donación</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="Perros.html">Perros</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="gatos.html">Gatos</a></li>
          </ul>
        </div>
        <!--Inicio API-->
        <div class="col-lg-2 col-md-6 footer-links">
          <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
          <div id="app" style="width: 500px; height: 10px;">
            <v-app>
              <v-content>
                <v-container>
                  <v-layout >
                    <v-btn color="green" large @click="voteUp" >
                    <v-icon>thumb_up</v-icon>&nbsp; Me gusta</v-btn>
                    <v-btn color="red" large @click="voteDown" >
                    <v-icon>thumb_down</v-icon>&nbsp; No me gusta</v-btn>      
                  </v-layout>
    
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <v-card flat tile class="d-flex">
                        <v-img :src="{% static 'image.url' %}" aspect-ratio="1"></v-img>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-content>
            </v-app>
          </div>
          
          <script>
            new Vue({ 
                el: '#app',
                vuetify: new Vuetify(),
                data: {
                  sub_id: "User-123",
                  image:{},
                  votes:[],
                    headers: [
                    { text: 'date' },
                    { text: 'image_id' },
                    { text: 'value' },
                    { text: 'sub_id' },
                    { text: 'country' }
                  ],
                },
                created(){
                    this.getImage();
                    this.getVotes();
                } ,
                methods:{
                    async getImage()
                    {
                        try{
                            axios.defaults.headers.common['x-api-key'] = "DEMO-API-KEY" // Replace this with your API Key, as it's set to defaults it will be used from now onwards
        
                            let response = await axios.get('https://api.thecatapi.com/v1/images/search', { params: { limit:1, size:"full" } } ) // Ask for 1 Image, at full resolution
                            
                            this.image = response.data[0] // the response is an Array, so just use the first item as the Image
        
                            console.log("-- Image from TheCatAPI.com")
                            console.log("id:", this.image.id)
                            console.log("url:", this.image.url)
        
                        }catch(err){
                            console.log(err)
                        }
                    },
                    async voteUp(){
                      let body = {
                          image_id: this.image.id,
                          sub_id: this.sub_id,
                          value: 1 // Voting up (you like it) so send 1
                      }
                      let response = await axios.post('https://api.thecatapi.com/v1/votes', body ) // Send the body to create a Vote in your Account
                            
                      await this.getImage();
                      await this.getVotes();
                    },
                    async voteDown(){
        
                      let body = {
                          image_id: this.image.id,
                          sub_id: this.sub_id,
                          value: 0 // Voting down (you don't like) so send 0
                      }
                      let response = await axios.post('https://api.thecatapi.com/v1/votes', body ) // Send the body to create a Vote in your Account
                            
                      await this.getImage();
                      await this.getVotes();
                    },
                    async getVotes()
                    {
        
                      let response = await axios.get('https://api.thecatapi.com/v1/votes', { params: { order:"DESC", limit:25 } } ) // Get the last 25 votes
                      
                      response.data.forEach(element => {
                        //element.created_at = new Date(element.created_at).toString();// full time string including timezone
                        element.created_at = new Date(element.created_at).toJSON().slice(0,10)// just use the date for now
                      });
        
                      this.votes = response.data;
                    }
                }
            })
          </script>
        </div>
        <!--Fin Api-->
        
      </div>
    </div>
  </div>
  </div>
</footer>
<!--Fin Menu Inferior-->
</body>
</html>