<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up PetsFriends</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="Estilos.css" type="text/css" rel="stylesheet">
    <link href="Img/Icon.png" rel="icon">
    <link href="Img/Icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css" integrity="sha512-fvBUZJJBrJrzrFYM/EN2isPokoNnx331y30ZXIxRRlop1aq6rT6d8oY6WJVsiXZoso0dIZ2nbQjtGLi6Kkxr/Q==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  {% load static %}
    <div class="container-fluid">
        <!--contactos-->
        <div class="row">
          <div class="col">
            <section id="contactanos" class="d-flex align-items-center">
              <div id="contacto">
                <div class="container d-flex justify-content-center justify-content-md-between">
                  <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope d-flex align-items-center" >&nbsp;<a href="mailto:pets.friends@jujuju.cl" >pets.friends@jujuju.cl</a></i>
                    <i class="bi bi-phone d-flex align-items-center ms-4"><span>+56 955566677</span>&nbsp;</i>
                  </div> 
                </div>      
              </div>      
            <div class="social-links d-none d-md-flex align-items-center" id="redes">
              <span class="pull-right"> 
                  <a  href="https://twitter.com" class="twitter">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-twitter" ></i></a>
              </span>
              <span class="pull-right">
                  <a  href="https://facebook.com" class="facebook">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-facebook" ></i></a>
              </span>
              <span class="pull-right">
                  <a  href="https://instagram.com" class="instagram">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-instagram" ></i></a>
              </span>
              <span class="pull-right">
                  <a href="https://linkedin.com" class="linkedin">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-linkedin" ></i></a>
              </span>
            </div>     
            </section> 
          </div>
        </div>
        <!--fin contactos-->
    
        <!--logo-->
        <div class="row"> 
          <div class="col">
            <a href="">
              <img src="{% static 'Img/Logo.jpg' %}" alt="Logo" height="auto" width="auto">
            </a>
            <div id="login">
              <a href="signIn/">
                <i class="bi bi-person-circle"> Iniciar sesión &nbsp; &nbsp;</i>
              </a>
              <a href="signUp/">
                <i class="bi bi-person-plus-fill"> Registrarse &nbsp; &nbsp;</i>
              </a>
              <a href="compras/">
                <i class="bi bi-cart4"></i>
              </a>
            </div>
          </div>
        </div> 
        <!--fin logo-->
    
        <!--Menu-->
        <div clas="row">
          <div clas="col"  style="background-color: greenyellow;">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="nosotros/">Nosotros</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="donacion/">Donación</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="perros/">Perros</a></li>
                        <li><a class="dropdown-item" href="gatos/">Gatos</a></li>
                        
                        <li><a class="dropdown-item" href="otros/">Otros</a></li>
                      </ul>
                    </li>
                  </ul>
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                  </form>
                </div>
              </div>
            </nav>
    
          </div>
        </div>
        <!--fin menu-->
    </div>   

    <!--Inicion formulario--> 
      <div class ="container-fluid" style="background-color: rgb(201, 203, 199);"> 
        <div class="row"></div>
        <div class="col">
          <h1>A continuación ingrese sus datos</h1>
        </div>
      
      <div class="row">
        <div class="col-4">
          <form action="principla/." method="get" id="formulario">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" id="nombre" placeholder="ingrese nombre" class="validate[required]"
              data-errormessage-value-missing="El nombre no puede estar en blanco" value=""/>
            </div>
            <br>
            <div class="form-group">
              <label for="nombre">Nombre usuario</label>
              <input type="text" name="nombre usuario" id="nombre usuario" placeholder="ingrese nombre usuario" class="validate[required]"
              data-errormessage-value-missing="EL nombre de usuario no puede estar en blanco" value=""/>
            </div>
            <br>
            <div class="form-group">
              <label for="nombre">Correo electrónico</label>
              <input type="email" name="email" id="mail" placeholder="user@PetsFriends.com" class="validate[required,custom[email]]"
              data-errormessage-value-missing="El correo no puede estar en blanco"
              data-errormessage-value-missing="Formato: usuario@xmail.com" value=""/>
            </div>
            <br>
            <div class="form-group">
              <fieldset>
                <label>
                  <span>Contraseña: </span>
                  <input value="karnius" class="validate[required] text-input" type="password" name="password" id="password" />
                </label>
                <br>
                <label>
                  <span>Confirmar contraseña: </span>
                  <input value="kaniusBAD" class="validate[required,equals[password]] text-input" type="password" name="password2" id="password2" />
                  <br/>
                  
                </label>
              </fieldset>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery-1.8.2.min.js" integrity="sha512-TioVFI1HfPAFh7BGAsuCB76vIrmMroWB+yRNKnTan26OBCdpdH9DWYoTxZbjW8kCKH3QDItheAEVso5N7+w75g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-es.min.js" integrity="sha512-GCKyaseskD91hTJv68w+ldDh2vU5iURF1/pIDyAY+Bv3MZhceURuVe3GZMgPXYUb+W41oTHz2CRrTOhkdvE6SQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js" integrity="sha512-MKqdT8JgKftxlK6oK4S+Hh44ivKyaPncl6qN9JZEGKJGQZJMiSoPzehLcbvd/1XMieEP1Q4A3wzzhTrvBUUcUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(()=>{
        $("#formulario").validationEngine();
        $("form#validacion-live input")
            .rut({formatOn: 'keyup', validateOn: 'keyup'})
            .on('rutInvalido', function(){ 
                $(this).parents(".control-group").addClass("error")
            })
            .on('rutValido', function(){ 
                $(this).parents(".control-group").removeClass("error")
            });
        });
    </script>
</body>
</html>